<div class="timepicker">
  <div class="timepicker-header">
    <h6>Time Range: </h6>
    <strong> 30 minutes </strong>
    <i class="icon icon-arrow-down float-right"></i>
  </div>


  <div class="timepicker-body closed">
    <h6>Ending Now</h6>
    <hr>
    <ul class="step">
      <li class="step-item active" data-range="30">
        <a href="#">30 minutes</a>
      </li>
      <li class="step-item" data-range="60">
        <a href="#">1 hour</a>
      </li>
      <li class="step-item"data-range="180">
        <a href="#" >3 hours</a>
      </li>
      <li class="step-item" data-range="360">
        <a href="#">6 hours</a>
      </li>
      <li class="step-item" data-range="720">
        <a href="#">12 hours</a>
      </li>
      <li class="step-item" data-range="1440">
        <a href="#">1 day</a>
      </li>
      <li class="step-item" data-range="20160">
        <a href="#">2 weeks</a>
      </li>
    </ul>
  </div>
</div>
